:root {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: rgb(7, 131, 169);
}

body {
  color: #b9dfea;
  margin: 0;
  padding: 0;

  main {
    margin-left: 5rem;
    padding: 1rem;
  }

  .navbar {
    width: 4.7rem;
    height: 100vh;
    position: fixed;
    background-color: #3d3d47;
    display: flex;
    justify-content: center;

    // &:hover {
    //     width: 15rem;
    // }

    .material-symbols-outlined {
      font-size: 35px;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li,
    .material-symbols-outlined {
      width: 100%;
      text-align: center;
      margin-bottom: 1.5rem;
      margin-top: 1rem;

      p {
        display: none;
      }

      &:hover {
        color: #e1ecf0;
        font-size: bold;
        cursor: pointer;

        p {
          display: contents;
          font-size: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    .navbar {
      flex-direction: row;
      justify-content: left;
      align-items: center;
      width: 100%;
      height: 3rem;
      position: static;
      font-size: 18px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        li {
          // padding-top: 1rem;
          margin-bottom: 0.1rem;

          &:hover {
            p {
              display: none;
            }
          }
        }
        p {
          display: none;
        }
      }
    }

    .navbar__item {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 700px) {
    .navbar {
      flex-direction: row;
      justify-content: left;
      align-items: center;
      width: 100%;
      height: 3rem;
      position: static;
      font-size: 18px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;

        p {
          display: none;
        }
      }
    }

    .navbar__item {
      margin-bottom: 0;
    }
  }
}

.sections-container {
  display: flex;
  justify-content: space-between;
}


.client-requests {
  width: 45%;
  margin-top: 2rem;
  background-color: white;
  color: black;
  padding: 10px;
  max-height: 350px;
  overflow-y: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ffffff;
      padding: 0.5rem;
      text-align: left;
    }

    th {
      background-color: #35424a;
      color: #ffffff;
    }
  }
}

.client-details {
  width: 45%;
  margin-top: 2rem;
  background-color: white;
  color: black;
  padding: 10px;

  #profilePic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .client-details-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .client-details-item {
      display: flex;
      align-items: center;

      label {
        margin-right: 1rem;
      }
    }
  }
}

/* Styles for creating issues section */
.create-issue {
  width: auto;
  margin-top: 2rem;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } 
  button:hover {
    background-color: #0056b3;
  }

  .custom-input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 95%;
    margin-bottom: 10px;
  }
  
  button {
    margin-right: 10px;
  }  
}


@media screen and (max-width: 700px) {
  body {
    main {
      margin-left: 0;
    }
  .sections-container {
    flex-direction: column; 
  }

  .client-requests,
  .client-details,
  .create-issue {
    width: 95%; 
    margin-top: 1rem; 
    padding: 10px;
  }
}
}