body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin: 50px;
}

h1{
  font-size: 2em;
  margin-bottom: 20px;
}

a {
  all: unset;
  padding: 10px 20px;
  background-color: #515257;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
  background-color: #6c6d73;
}

/* Mobile Styles */
@media (max-width: 600px) {
  body {
    margin: 20px;
  }

  h1, h2 {
    font-size: 1.5em;
  }

  input {
    padding: 8px;
  }

  a {
    padding: 8px 16px;
  }
}
