
:root {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    color: white;
    background-color: rgb(7, 131, 169);
}


body {
    color: #0c6a86;
    background-color: #3c9ebc;
    margin: 0;
    padding: 0;

    ::-webkit-scrollbar {
        width: 0.25rem;
    }
    ::-webkit-scrollbar-track {
        background: #1e1e24;
    }
    ::-webkit-scrollbar-thumb {
        background: #0c6a86;
    }
 
    main {
      margin-left: 4rem;
      padding: 1rem;
    }

    .navbar {
        width: 4rem;
        height: 100vh;
        position: fixed;
        background-color: #3d3d47;
        justify-content: center;
        align-items: center;

        .material-symbols-outlined {
            font-size: 35px; 
            margin-left: -1.7rem;
          }

        ul {
            list-style: none; /* This removes the bullets */
          }

          li {
            width: 500px;

          }
        
         
    }
    
  }