:root {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: rgb(7, 131, 169);
}

body {
  color: #b9dfea;
  margin: 0;
  padding: 0;

  main {
    margin-left: 5rem;
    padding: 1rem;
  }

  .navbar {
    width: 4.7rem;
    height: 100vh;
    position: fixed;
    background-color: #3d3d47;
    display: flex;
    justify-content: center;

    // &:hover {
    //     width: 15rem;
    // }

    .material-symbols-outlined {
      font-size: 35px;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li,
    .material-symbols-outlined {
      width: 100%;
      text-align: center;
      margin-bottom: 1.5rem;

      p {
        display: none;
      }

      &:hover {
        color: #e1ecf0;
        font-size: bold;
        cursor: pointer;

        p {
            display: contents;
          font-size: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    .navbar {
      flex-direction: row;
      justify-content: left;
      align-items: center;
      width: 100%;
      height: 3rem;
      position: static;
      font-size: 18px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        li {
          padding-top: 2rem;
          margin-bottom: 0.1rem;

          &:hover {
            p {
                display: none;
            }
          }
        }
        p {
            display: none;
            
          }
  
      }
    }

    .navbar__item {
      margin-bottom: 0;
      /* Remove margin between icons on smaller screens */
    }

    
  }

  @media screen and (max-width: 700px) {
    .navbar {
      flex-direction: row;
      justify-content: left;
      align-items: center;
      width: 100%;
      height: 3rem;
      position: static;
      font-size: 18px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;

        li {
          padding-top: 2rem;
        }

        p {
            display: none;
          }
      }
    }

    .navbar__item {
      margin-bottom: 0;
      /* Remove margin between icons on smaller screens */
    }
  }
}
