:root {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: rgb(7, 131, 169);
}

body {
  color: #bfe1eb;
//   background-color: #72b4c7;
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    width: 0.25rem;
  }
  ::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  ::-webkit-scrollbar-thumb {
    background: #0c6a86;
  }

  main {
    margin-left: 4rem;
    padding: 1rem;

    
  }

  .navbar {
    width: 4rem;
    height: 100vh;
    position: fixed;
    background-color: #3d3d47;
    display: flex;
    justify-content: center;

    .material-symbols-outlined {
      font-size: 35px;
    }

    ul {
      list-style: none;
      padding: 0; 
    }

    li {
      width: 100%;
      text-align: center;
      margin-bottom: 1.7rem;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: row; 
      justify-content: left; 
      align-items: center;
      width: 100%;
      height: 3rem; 
      position: static;
      font-size: 18px; 

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3.7rem;

        li {
            padding-top: 1.2rem;
        }
      }
      
    }

    .navbar__item {
      margin-bottom: 0; /* Remove margin between icons on smaller screens */
    }
  }
}
